#buttons {
	text-align: center;
}

#calc {
	width: 30%;
	height: 80%;
}

#numbers {
	display: inline-block;
	float: left;
	height: 100%;
	width: 50%;
}

#operators {
	display: inline-block;
	height: 100%;
	width: 50%;
}

#result {
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	max-height: 1.2em;
	min-height: 1.2em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: right;
	width: 100%;
}

.black {
	background-color: black;
}

.blue {
	background-color: blue;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 2px 2px #AAAAAA;
	display: inline-block;
	margin: 2%;
	padding: 1em;
}

.dark {
	background-color: gray;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.row {
	display: inline-block;
	width: 100%;
}

.yellow {
	background-color: yellow;
}

.white {
	background-color: white;
}

span {
	display: inline-block;
	vertical-align: middle;
}